table,tr,td{

	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(0, 0, 0);
	padding: 5px;
	border-collapse: collapse;
}
.h{
	border: 8px groove lightblue;
}
.posisi{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	left: 0;
	right: 0;
	top: 100px;
	bottom: 0;
}
